# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Virtual environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
staticfiles/
media/

# Environment variables — NEVER commit these
.env
gee-service-account.json

# ML model artefacts (too large for git)
backend/ml/models/*.pkl
backend/ml/models/*.h5

# VS Code
.vscode/

# Mac
.DS_Store

# Node.js (for frontend)
node_modules/
.next/
frontend/.env.local

# CSV data files
backend/data/*.csv

#GEE
gee-service-account.json